In [1]:
import pandas as pd
import numpy as np

In [2]:
sensex= pd.read_csv("https://data.nasdaq.com/api/v3/datasets/BSE/SENSEX.csv?api_key=hQ1m5NeC8pAcFbhW5xBE&start_date=1991-01-03&end_date=2022-4-18")

In [3]:
sensex

            Date      Open      High       Low     Close
0     2022-04-18  57338.58  57420.80  56842.39  57166.74
1     2022-04-13  58910.74  59003.82  58291.23  58338.93
2     2022-04-12  58743.50  58794.78  58298.57  58576.37
3     2022-04-11  59333.18  59355.76  58894.40  58964.57
4     2022-04-08  59256.97  59654.44  58876.36  59447.18
...          ...       ...       ...       ...       ...
7586  1991-01-14   1012.80   1017.98   1004.91   1017.72
7587  1991-01-11   1000.51   1034.30    997.04   1034.30
7588  1991-01-09   1007.66   1013.80    998.09   1008.52
7589  1991-01-07    982.81   1010.77    978.69   1010.77
7590  1991-01-03    983.51    989.08    981.08    982.35

[7591 rows x 5 columns]

In [4]:
sensex.shape

(7591, 5)

In [5]:
sensex.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7591 entries, 0 to 7590
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    7591 non-null   object
 1   Open    7574 non-null   float64
 2   High    7572 non-null   float64
 3   Low     7572 non-null   float64
 4   Close   7591 non-null   float64
dtypes: float64(4), object(1)
memory usage: 296.6+ KB